<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ingresar Productos</h4>
                      <p class="card-category">Si deses ingresar una nueva categoria favor de escribirla, de lo contrario  selecciones.</p>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
                        <button class="button" type="submit">Purchase</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
